.selected {
  border: 1px solid red;
}

.columns-title {
  text-align: center;
  font-weight: bold;
}

.columns__btn {
  font-weight: bold;
}

.columns-pointer {
  cursor: pointer;
}

.columns__btn--default {
  color: #0069d9
}